.Cruds h2{
    text-align: center;
    margin-bottom: 1rem;
}

form{
    max-width: 500px;
    margin: 0 auto;
    width: 100%;
}

.form-control{
    display: flex;
    flex-direction: column;
    margin: 1rem;
}

.form-control label{
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
}

.form-control input,
.form-control textarea{
    padding: 0.5rem;
    border-radius: 10px;
    border: none;
    height: 15px;
    border-color: #DDD18C;
}

.form-control select{
    padding: 0.5rem;
    border-radius: 10px;
    border: none;
    height: 25px;
    border-color: #DDD18C;
    width: 75px;
}

